<div class="container">
	<form action="/snapshots" method="post">
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		<input type="hidden" name="snapshot[timeline_id]" value=<%= @timeline.id %>>
		<div class="input-field">
			<input type="text" name="snapshot[title]" id="title">
			<label for="title">Title</label>
		</div>
		<div class="input-field">
			<input type="text" name="snapshot[day]" id="day" class="date">
			<label for="day">Date</label>
		</div>
		<button class="btn waves-effect waves-light center-align" type="submit">Create</button>
	</form>
</div>