<div class="container" style="margin-top: 50px">
<% @libraries.first(5).each do |library| %>
<a href="<%= library[:link] %>">
	<h4><%= library[:name] %></h4>
	<p><%= library[:location] %></p>
</a>
<% end %>
</div>